<!DOCTYPE html>
<head>
    <%- include("./partials/head") %>
    <title>Just Earth Minecraft Server</title>
</head>
<body class="bg-dark">
<div class="container">
    <%- include("./partials/navbar") %>
    <%- include("./partials/jumbotron") %>
    <%- include("./partials/imagetiles") %>
    <%- include("./partials/roadmap") %>
    <footer class="text-center text-light"><sub>A footer here? idk</sub></footer>
    <br>
</div>
<script src="js/main.js"></script>
</body>