<!DOCTYPE html>
<head>
    <%- include("./partials/head") %>
    <title>Just Earth Minecraft Server</title>
</head>
<body class="bg-dark">
<div class="container">
    <%- include("./partials/navbar") %>
    <%- include("./partials/jumbotron") %>
    <%- include("./partials/imagetiles") %>
    <%- include("./partials/roadmap") %>
    <%- include("./partials/faq") %>
    <footer class="text-center text-light fade-in text-shadow" style="font-size: 2rem">
        <span class="badge rounded-pill bg-dark">
            <a class="text-light onhover-gray" href="http://discord.jes.earth/">
                <i class="fab fa-discord"></i>
            </a>
        </span>
        <span class="badge rounded-pill bg-dark">
            <a class="text-light onhover-gray" href="https://www.reddit.com/r/justanearthserver/">
                <i class="fab fa-reddit"></i>
            </a>
        </span>
        <span class="badge rounded-pill bg-dark">
            <a class="text-light onhover-gray" href="https://tiktok.com/@justanearthserver">
                <i class="fab fa-tiktok"></i>
            </a>
        </span>
        <span class="badge rounded-pill bg-dark">
            <a class="text-light onhover-gray" href="https://www.instagram.com/justanearthserver/">
                <i class="fab fa-instagram"></i>
            </a>
        </span>
        <span class="badge rounded-pill bg-dark">
            <a class="text-light onhover-gray" href="https://youtube.com/channel/UC_UnrcztzHIedur7wr7LULg">
                <i class="fab fa-youtube"></i>
            </a>
        </span>
    </footer>
    <br>
</div>
<script src="js/main.js"></script>
</body>