<!DOCTYPE html>
<head>
    <%- include("./partials/head") %>
    <title>Just Earth Minecraft Server</title>
</head>
<body class="bg-dark">
<noscript>
    It appears that your browser does not support JavaScript, or has JavaScript disabled. Please enable it or use
    a browser that does support JavaScript in order to view this site correctly.
</noscript>
<div class="container">
    <%- include("./partials/navbar") %>
    <%- include("./partials/jumbotron") %>
    <%- include("./partials/imagetiles") %>
    <%- include("./partials/roadmap") %>
    <%- include("./partials/faq") %>
    <%- include("./partials/footer") %>
</div>
<script src="js/main.js"></script>
</body>